<!doctype html>
<html lang="en">
<head>
    <title>HNMood - HackerNews comment sentimental analisys</title>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="shortcut icon" href="/favicon.ico"/>
    <link rel="stylesheet" href="/static/css/screen.css" type="text/css" media="screen, projection" />
    <link rel="stylesheet" href="/static/css/print.css" type="text/css" media="print" />
    <!--[if lt IE 8]>
      <link rel="stylesheet" href="/static/css/ie.css" type="text/css" media="screen, projection">
    <![endif]-->
    <link rel="stylesheet" href="/static/css/site.css" type="text/css" media="screen, projection" />
</head>

<body>
    <div class="container">
        <h1>HackerNews comment sentimental analisys</h1>

        <h2>About</h2>
        
        <p>HNMood is an entry for the <a href="http://www.hnsearch.com/contest">HNSearch API contest</a>, that processes HN comments with the  
        <a href="http://www.alchemyapi.com/api/sentiment/">AlchemyAPI Sentiment Analisys</a></p>
        
        <h2>How does it work?</h2>
        <p> Drag the bookmaklet bellow into your browser link bar</p>
        <p><a href="javascript:(function(){_s=document.createElement('SCRIPT');_s.type='text/javascript';_s.src='{{bookmarklet_src}}?x='+(Math.random());document.getElementsByTagName('head')[0].appendChild(_s);})();">HN Comment Sentiment Analyzer</a></p>
        <p>Browse to a HackerNews discussion page, for example <a href="http://news.ycombinator.com/item?id=2647219">http://news.ycombinator.com/item?id=2647219</a>
         with comments and press the bookmarklet</p>
        
        
        <h2>Screenshot</h2>
        <p><img src="/static/img/screenshot.png" width="712" height="697"></p>
        
        <h2>Current status</h2>
        <p>There is currently a 1000 daily call limit for the AlchemyAPI and the current database doesn't hold all the HN comments, only recent analisys is availabe at the moment</p>
        
        <h2>Powered by</h2>
        <ul>
            <li><a href="http://www.alchemyapi.com">AlchemyPI</a></li>
            <li><a href="http://www.hnsearch.com/api">HNSearch API</a></li>
            <li><a href="http://appengine.google.com">Google AppEngine</a></li>
            <li><a href="http://www.tipfy.org">Tipfy</a></li>
            <li><a href="https://github.com/zemanel/HNMood">source code</a></li>            
            
        </ul>
        
    </div>
</body>
</html>