<!doctype html>
<html lang="en">
<head>
    <title>HN mood</title>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="shortcut icon" href="/favicon.ico"/>
    <link rel="stylesheet" href="/static/css/screen.css" type="text/css" media="screen, projection" />
    <link rel="stylesheet" href="/static/css/print.css" type="text/css" media="print" />
    <!--[if lt IE 8]>
      <link rel="stylesheet" href="/static/css/ie.css" type="text/css" media="screen, projection">
    <![endif]-->
    <link rel="stylesheet" href="/static/css/site.css" type="text/css" media="screen, projection" />
</head>

<body>
    <div class="container">
        <h1>HackerNews comment sentimental analisys</h1>

        <h2>About</h2>
        <p></p>
        
        <h2>Bookmarklet</h2>
        <p> Drag the bookmaklet bellow into your browser link bar</p>
        <p><a href="javascript:(function(){_s=document.createElement('SCRIPT');_s.type='text/javascript';_s.src='{{bookmarklet_src}}?x='+(Math.random());document.getElementsByTagName('head')[0].appendChild(_s);})();">HackerNews Analyzer</a></p>

    </div>
</body>
</html>