<html>
    <head>
        <title>HNMood</title>
        <style type="text/css">
            h1 {
                color: #0099FF;
                font-family: 'trebuchet ms', trebuchet, arial, sans-serif;
                font-size: 72px;
                text-align: center;
                margin-top: 24px;
            }
        </style>
    </head>
    <body>
        <h1>Drag the bookmarklet</h1>
        <a href="javascript:(function(){_s=document.createElement('SCRIPT');_s.type='text/javascript';_s.src='http://localhost:8080/static/js/bm.js?x='+(Math.random());document.getElementsByTagName('head')[0].appendChild(_s);})();">bookmark</a>
    </body>
</html>
